{% extends 'itk_pages/base.html'%}
{% load bootstrap4 %}


{% block content %}
{{ block.super }}

<div class="container-fluid topBuffer">
    <div class="jumbotron">
        <div class="row justify-content-around">

            <!-- ============== start of about div ================== -->

            <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7"> 

                <div class="card border-info slightOpaicty mb-3">
                    <div class="card-header">in-the-know (ITK)</div>
                        <div class="card-body">
                            <h5 class="card-title">About us</h5>
                            <p class="card-text"> in-the-know (ITK) enables our users to be kept in the loop about everything helpful that is happening in their neighborhood. From contact information of different handypersons to meeting-announcements or even alerts.</p>
                        </div>
                </div>
            </div> 
            
            <!-- ============== end of about div ================== -->


            <!-- ============== start of resources-links div ================== -->
            <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5"> 
                <div class="card border-info slightOpaicty">
                 <div class="card-header"> Helpful Resources </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Join a neighborhood </li>
                        <li class="list-group-item"> Share/view neighborhood notices</li>
                        <li class="list-group-item">View neighborhood businesses</li>
                    </ul>
                </div>
            </div>

            <!-- ============== end of resources-links div ================== -->

    
        <div> <!-- end of row -->
    </div> <!-- jumbotron ends here -->
</div> <!-- container ends here -->

{% endblock %}