{% extends 'itk_pages/base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<div class="container topBuffer">
    <div class="row justify-content-center">

        <!-- profile card div -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="card align-items-center text-center">
                <img class="card-img-top rounded-circle avatar" src="/static/images/itklightbulb.png" alt="Card image" style="width:200px; height:200px;">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text"> Bio: Some example text some example text. John Doe is an architect and engineer</p>
                    <p class="card-text"> Email:johndoe@itk.com</p>
                </div>
            </div>

                <!-- PROFILE UPDATE FORM -->
                    <form enctype="multipart/form" action="{% url 'update_profile' %}" method="post">

                    {% csrf_token %}

                    {% bootstrap_form updateProf  %}

                    <div class="form-group">

                    <input type="submit" class="btn btn-primary my-2" value="Submit">
                    </div>
                </form>
                <!-- END OF FORM -->
        </div>
        <!-- end of profile card div-->  

    </div> <!-- end of outer row-->
  </div> <!-- end of outer container-->

{% endblock %}