{% extends 'itk_pages/base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<div class="container-fluid" style="height:500px;">
<div class="jumbotron" style="height:490px; padding: 2rem 1rem;">
        <div class="row justify-content-center">
            <div class = "col-xs-7 col-sm-7 col-md-7 col-lg-7">

                <!-- PROFILE UPDATE FORM -->
                    <form enctype="multipart/form" action="{% url 'update_profile' %}" method="post">

                    {% csrf_token %}

                    {% bootstrap_form updateProf  %}

                    <div class="form-group">

                    <input type="submit" class="btn btn-primary my-2" value="Submit">
                    </div>
                </form>
                <!-- END OF FORM --> 

            </div> <!-- end of column -->
        </div> <!-- end of outer row-->
    </div> <!-- end of jumbotron -->
  </div> <!-- end of outer container-->

{% endblock %}